/* Setting background image of site */
body {
    background-image: url("../images/ignasi_pattern_s.png");
}
/* Setting styling of my name in navbar */
#myName {
    background-color: #4AAAA5;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 550;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #4AAAA5;
    font-weight: 550;
}

.col-sm-7 {
    background-color: white;
    margin-top: 75px;
    padding: 25px;
}

/* Styling for headshot picture on about page */
#headshot {
    float: left; 
    margin-right: 10px;
}

.btn {
    background-color: #4AAAA5;
    border-color: #4AAAA5;
    border-radius: 0;
    padding: 12px 20px 12px 20px;
}

.footer-margin {
    height: 100px;
}

img {
    margin: 10px;
}